
/* stylelint-disable declaration-no-important */

.h-cf {
  &::before,
  &::after {
    display: block;
    content: "";
  }

  &::after {
    clear: both;
  }
}

.h-floatLeft {
  float: left !important;
}

.h-floatRight {
  float: right !important;
}

.h-overflow {
  overflow: auto !important;
}

.h-hide {
  display: none !important;
}

.h-show {
  display: block !important;
}

.h-alignCenter {
  text-align: center !important;
}

.h-alignRight {
  text-align: right !important;
}

.h-alignLeft {
  text-align: left !important;
}

.h-fontBold {
  font-weight: 700 !important;
}

.h-fontItalic {
  font-style: italic !important;
}

.h-fontBig {
  font-size: 120% !important;
}

.h-fontSmall {
  font-size: 80% !important;
}
