{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "> 5%",
          "last 2 versions",
          "Explorer >= 10",
          "iOS >= 7.1"
        ]
      }
    }]
  ]
}
