{
  "env": {
    "browser": true,
    "jquery": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "plugins": ["babel"],
  "rules": {
    "object-curly-spacing": 0,
    "semi": [2, "never"],

    "babel/object-curly-spacing": [2, "never"],
    "import/no-extraneous-dependencies": 0,

    "no-console": 0
  }
}
