
language: node_js

notifications:
  email: false

node_js:
  - "11"
  - "10"
  - "8"

before_install:
  - npm install -g npm@latest
  - npm install -g greenkeeper-lockfile@1

install:
  - npm install

before_script:
  - greenkeeper-lockfile-update

script:
  - gulp styles:travis
  - gulp scripts:travis
  - gulp build
  - gulp build --prod

after_script:
  - greenkeeper-lockfile-upload
