
<!DOCTYPE html>
<html>
  <head>
    <%- include('./_blocks/head') %>
  </head>
  <body>
    <div id="app" class="main">
      <%- include('./_blocks/header') %>

      <div class="content-container">
        <div class="post-detail">
          <h2 class="post-title">一个非著名前端开发者的2018</h2>
          <div class="post-info post-detail-info">
            <span><i class="icon-calendar-outline"></i> 2019-10-10</span>
            <span>
              <i class="icon-pricetags-outline"></i>
              <a href="#">年终总结</a>
            </span>
          </div>
          <div class="post-content">
            <p>铛铛铛，喜大普奔，Hve Notes  主页上线啦！ </p>
            <p>📢小二，上链接<br><a href="http://hvenotes.fehey.com/">Hve Notes</a></p>
            <p>主页网站 用了 <a href="https://vuepress.vuejs.org/zh/">Vuepress</a> 快速搭建，搭配了 <a href="http://fehey.com/live/">Live UI</a>  一起食用。、</p>
            <p>你可以再这里找到文档，快速上手 Hve Notes。</p>
            <p>未来，即将丰富的主题、备份同步等功能都将更新在文档中。</p>
            <p>😘 Enjoy~</p>
            <p>2014 年开始，云计算、PaaS 平台和 SaaS 服务开始在中国得到越来越多的关注。在过去的十年间，基于互联网的 SaaS 软件服务正在极大丰富，影响着社会的方方面面。2008 年春天，我刚来杭州时，每个月都要花好几个小时，去西湖区文二路的工商银行排队，只为缴纳水电燃气等费用。2012 年春天，我惊喜地发现支付宝上有生活缴费服务，足不出户，几分钟内就可以把水电燃气等缴费都搞定。支付宝上，有大量生活服务，有大量政务民生服务，可以买车票，也可以买电影票，可以快速给手机充值，也可以查询和处理车辆的违规违章。除了阿里经济体向社会提供的大量 SaaS 应用，中国整个互联网都在涌现各行各业的 SaaS 服务。生活在不经意间发生着巨大改变。</p>



            <p>随着 SaaS 的极大丰富，中国整个社会对程序员和设计师的需求都在急剧增加。今年是我从事体验行业的第十二年，刚好一个轮回。在这十二年里，前端技术变了好几茬，设计潮流也更新了好几波。唯一不变的，是面对项目时，始终不绝于耳的“缺前端、缺设计”的声音。根据国家统计局的从业者数据推算，在中国，UI 设计师大约有 100 多万，程序员大约有 200 多万，与 13.9 亿人口相比，还非常少。随着 IaaS 和 PaaS 的寡头格局形成，从事技术基础设施建设的从业者会越来越平稳，从事应用服务层的 SaaS 从业者会越来越多。“缺前端、缺设计”的情况，在接下来的十年里，依旧会是常态。对在座的各位来说，这是极大的机遇，也是巨大的责任。</p>
            <p>让我测试一下代码和引用</p>
            <blockquote>
            <p>这里是引用内容，实际效果怎么样呢？<br>这里也是引用内容哦</p>
            </blockquote>
            <p>代码片段</p>
            <pre><code class="language-javascript hljs">computed: {
              filteredUsers: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> </span>{
                <span class="hljs-keyword">var</span> <span class="hljs-keyword">self</span> = this
                <span class="hljs-keyword">return</span> <span class="hljs-keyword">self</span>.users.filter(<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(user)</span> </span>{
                  <span class="hljs-keyword">return</span> user.name.indexOf(<span class="hljs-keyword">self</span>.searchQuery) !== <span class="hljs-number">-1</span>
                })
              }
            }</code></pre>
            <h2>二级标题</h2>
            <p>内容</p>
            <h3>三级标题</h3>
            <p>内容</p>
            <img src="/frontend/media/logo.png" alt="">
            <h4>四级标题</h4>
            <p>内容</p>
            <table>
            <thead>
            <tr>
            <th>一个普通标题</th>
            <th>一个普通标题</th>
            <th>一个普通标题</th>
            </tr>
            </thead>
            <tbody><tr>
            <td>短文本</td>
            <td>中等文本</td>
            <td>稍微长一点的文本</td>
            </tr>
            <tr>
            <td>稍微长一点<code>hve-notes</code>的文本</td>
            <td>短文本</td>
            <td>中等文本</td>
            </tr>
            </tbody></table>
          </div>
        </div>

        <div class="next-post">
          <a class="purple-link" href="#">
            <h3 class="post-title">
              下一篇：体验科技与人文社会
            </h3>
          </a>
        </div>  
      </div>

      <%- include('./_blocks/footer') %>

    </div>
    <%- include('./_blocks/scripts') %>
  </body>
</html>
